.about-me {
  @include container;
  margin-top: 2rem;

  &__flex {
    display: flex;
    min-height: 90vh;
    align-items: flex-start;

    &--profile-pic > img {
      width: 100%;
      flex-basis: 50%;
    }

    &--text {
      flex-basis: 50%;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
}
