.about-me {
  @include container;
  display: flex;
  flex-direction: column;
  height: 90vh;

  &__title {
    font-family: $font-body;
    color: $color-green;
    font-size: 2.25rem;
  }

  &__profile--pic {
    margin-top: 1rem;
  }

  &__text {
    margin-top: 1rem;
  }
}
