.about-me {
  @include container;
  &__heading {
    padding: 1.5rem 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: [port-start] minmax(6rem, 1fr) [name-start] minmax(6rem,1fr) [img-end] 2fr [port-end];
  
    &__subtitle {
      grid-column: name-start / port-end;
      grid-row: 1 / 2;
      align-self: end;
    }
  
    
  
  
  
  
  }

   img {
    display: block;
    width: 100%;
    grid-column: port-start / img-end;
    grid-row: 1 / 2;
  }

  

}
 