.divider {
  position: relative;

  &__tilt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
  }

  &__shape-fill {
    fill: white;
  }
}

.btn {
  margin-top: 3.125rem;
}

.menu__button {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: 1rem;
  right: 1rem;
  background-color: $color-black;
  border: none;
  cursor: pointer;
  z-index: 11;

  &--burger {
    fill: $color-white;
  }

  &--close-x {
    stroke: $color-white;
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 5;
    display: none;
  }
}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transform: translateX(-100%);
  transition: transform ease-out 250ms;

  ul {
    background-color: $color-green;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    list-style: none;
    padding: 0;

    a {
      display: inline-block;
      font-family: $font-body;
      color: $color-banner;
      font-size: 2.25rem;
      font-weight: bold;
      text-transform: uppercase;
      padding: calc(100vh / 8) 0;
      line-height: 0;
      width: 100%;
    }

    li {
      text-align: center;
      border-bottom: 0.06rem solid $color-banner-light;
    }

    li:hover {
      background: rgba($color-banner-light, 0.5);
    }
  }
}

.nav-is-open {
  nav {
    transform: translateX(0);
  }

  .menu__button--burger {
    display: none;
  }

  .menu__button--close-x {
    display: block;
  }
}
