footer {
  background-color: $color-dark-purple;
  padding: 4rem 0 0.5rem 0;
  text-align: center;

  p {
    color: $color-grey-light;
    font-size: 0.625rem;
  }
}

.fa-github,
.fa-linkedin {
  color: $color-grey-light;

  &:hover {
    color: $color-green;
  }
}

.footer__social-icons {
  @include container;
  max-width: 6rem;
  display: flex;
  justify-content: space-between;

  @include mq {
    max-width: 7rem;
  }
}

.copyright {
  &::before {
    content: "";
    display: block;
    height: 0.0625rem;
    background-color: rgba($color-light-purple, 0.75);
    margin: 4rem auto;
    width: 50%;
  }
}
