.header {
  background-color: $color-dark-purple;

  &__content {
    @include container;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  h1 {
    @include mq {
      font-size: 8vw;
    }
  }

  span {
    @include mq {
      font-size: 4vw;
    }
  }

  &__subtitle {
    font-family: $font-body;
    color: $color-grey-light;
    font-size: 1.25rem;
    font-weight: 400;

    @include mq {
      font-size: 4vw;
    }
  }

  &__btn {
    border: 0.0625rem solid $color-green;
  }

  & a {
    color: $color-green;
    text-decoration: none;
    text-align: center;
    font-size: 0.875rem;
    padding: 0.8125em 4.5rem;

    &:hover {
      background-color: $color-green;
      color: $color-dark-purple;
    }

    @include mq {
      font-size: 2.5vw;
    }
  }

  /*empty div used for positioning, musy be a better way? */
  &__content--inner {
    margin-top: 3.125rem;
  }
}
