@mixin container($width: 90%, $max-width: 90rem) {
  width: $width;
  margin: 0 auto;
  max-width: $max-width;
  /*b order: 1px solid green; */
}

@mixin mq($width: 48rem) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin header-container($width: 90%, $max-width: 90rem) {
  width: $width;
  margin: 0 5%;
  max-width: $max-width;
  /*b order: 1px solid green; */
}
