.portfolio {
  background-color: $color-grey-light;

  &__container {
    @include container;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;

  @include mq {
    grid-template-columns: repeat(4, 1fr);
  }

  .featured {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  img {
    width: 100%;
    display: block;
  }

  &__item {
    position: relative;
    overflow: hidden;

    &:hover figcaption,
    &:focus figcaption {
      top: 0;
      cursor: pointer;
    }
  }

  &__heading {
    padding: 1.5rem 0;

    @include mq {
      font-size: 5vw;
    }
  }

  &__title {
    margin-bottom: auto;
    color: $color-grey-light;
    font-size: 1.5rem;
    .featured & {
      font-size: 2.25rem;
    }
  }

  &__item figcaption {
    position: absolute;
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    color: $color-grey-light;
    background-color: rgba($color-light-purple, 0.75);
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    transition: top ease-in-out 250ms;
  }

  &__desc {
    font-size: 0.875rem;
    padding-bottom: 2rem;
    display: none;
    .featured & {
      display: block;
    }
  }

  a {
    font-weight: bold;

    color: $color-grey-light;
    border-bottom: 3px solid $color-grey-light;
    align-self: flex-start;
    font-size: 0.875rem;
  }
}
