@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2e2e41;
  font-size: 1rem;
}
@media (min-width: 48rem) {
  body {
    font-size: 1.125rem;
  }
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #72e1d1;
  font-size: 2.25rem;
}
@media (min-width: 48rem) {
  h1 {
    font-size: 5vw;
  }
}
h1 span {
  font-size: 1.5rem;
  color: #72e1d1;
}
@media (min-width: 48rem) {
  h1 span {
    font-size: 3vw;
  }
}

h3 {
  font-size: 1.875rem;
}

.btn {
  margin-top: 3.125rem;
}

.menu__button {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: 1rem;
  right: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 11;
}
.menu__button--burger {
  fill: white;
}
.menu__button--close-x {
  stroke: #2e2e41;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5;
  display: none;
}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transform: translateX(-100%);
  transition: transform ease-out 250ms;
}
nav ul {
  background-color: #72e1d1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  list-style: none;
  padding: 0;
}
nav ul a {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  color: #2e2e41;
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: calc(100vh / 8) 0;
  line-height: 0;
  width: 100%;
}
nav ul li {
  text-align: center;
  border-bottom: 0.06rem solid #474663;
}
nav ul li:hover {
  background: rgba(71, 70, 99, 0.5);
}

.nav-is-open nav {
  transform: translateX(0);
}
.nav-is-open .menu__button--burger {
  display: none;
}
.nav-is-open .menu__button--close-x {
  display: block;
}

.tilt {
  vertical-align: top;
}

.header {
  background-color: #1d1936;
}
.header__content {
  width: 90%;
  margin: 0 5%;
  max-width: 90rem;
  /*b order: 1px solid green; */
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.header__subtitle {
  font-family: "Roboto", sans-serif;
  color: #f5f5f5;
  font-size: 1.25rem;
  font-weight: 400;
  margin-right: auto;
}
@media (min-width: 48rem) {
  .header__subtitle {
    font-size: 3vw;
  }
}
.header__btn {
  border: 0.0625rem solid #72e1d1;
}
.header a {
  color: #72e1d1;
  text-decoration: none;
  text-align: center;
  font-size: 0.875rem;
  padding: 0.8125em 2rem;
}
.header a:hover {
  background-color: #72e1d1;
  color: #1d1936;
}
@media (min-width: 48rem) {
  .header a {
    font-size: 2.5vw;
  }
}

.about-me {
  width: 90%;
  margin: 0 auto;
  max-width: 90rem;
  /*b order: 1px solid green; */
}
.about-me__heading {
  padding: 1.5rem 0;
}
.about-me__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
.about-me__grid--profile-pic img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  grid-column: 1 / span 2;
}

.portfolio {
  background-color: #f5f5f5;
}

.projects {
  width: 90%;
  margin: 0 auto;
  max-width: 90rem;
  /*b order: 1px solid green; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
@media (min-width: 48rem) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}
.projects .featured {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.projects img {
  width: 100%;
  display: block;
}
.projects__item {
  position: relative;
  overflow: hidden;
}
.projects__item:hover figcaption,
.projects__item:focus figcaption {
  top: 0;
  cursor: pointer;
}
.projects__heading {
  padding: 1.5rem 5%;
}
@media (min-width: 48rem) {
  .projects__heading {
    font-size: 5vw;
  }
}
.projects__title {
  margin-bottom: auto;
  color: #f5f5f5;
  font-size: 1.5rem;
}
.featured .projects__title {
  font-size: 2.25rem;
}
.projects__item figcaption {
  position: absolute;
  top: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  color: #f5f5f5;
  background-color: rgba(71, 70, 99, 0.75);
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  transition: top ease-in-out 250ms;
}
.projects__desc {
  font-size: 0.875rem;
  padding-bottom: 2rem;
  display: none;
}
.featured .projects__desc {
  display: block;
}
.projects a {
  font-weight: bold;
  color: #f5f5f5;
  border-bottom: 3px solid #f5f5f5;
  align-self: flex-start;
  font-size: 0.875rem;
}

.contact {
  width: 90%;
  margin: 0 auto;
  max-width: 90rem;
  /*b order: 1px solid green; */
  padding: 1.5rem 0 2.5rem 0;
}
.contact__btn {
  display: inline-block;
  width: auto;
  background-color: #72e1d1;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.75rem 2rem;
  margin-left: auto;
}
.contact__btn:hover {
  background-color: white;
  color: #1d1936;
  border: 0.07rem solid #72e1d1;
}

form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 48rem) {
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    grid-template-areas: "name     email" "message  message" "   .     button";
  }
  form .contact__name {
    grid-area: name;
  }
  form .contact__email {
    grid-area: email;
  }
  form .contact__message {
    grid-area: message;
  }
  form .contact__message textarea {
    height: 10rem;
  }
  form .btn,
  form .contact__button {
    grid-area: button;
  }
}

label {
  margin-top: 1rem;
  display: block;
  color: #2e2e41;
}

input,
textarea {
  display: block;
  background-color: #f5f5f5;
  border: none;
  padding: 0.75rem;
  font-size: 1.2rem;
  width: 100%;
}

textarea {
  height: 5rem;
}

footer {
  background-color: #1d1936;
  padding: 4rem 0 0.5rem 0;
  text-align: center;
}
footer p {
  color: #f5f5f5;
  font-size: 0.625rem;
}

.fa-github,
.fa-linkedin {
  color: #f5f5f5;
}

.footer__social-icons {
  width: 90%;
  margin: 0 auto;
  max-width: 90rem;
  /*b order: 1px solid green; */
  max-width: 6rem;
  display: flex;
  justify-content: space-between;
}

.copyright::before {
  content: "";
  display: block;
  height: 0.0625rem;
  background-color: rgba(71, 70, 99, 0.75);
  margin: 4rem auto;
  width: 50%;
}
