@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #72e1d1;
  font-size: 2.25rem;
}
h1 span {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.875rem;
}

header {
  background-color: #1d1936;
  position: relative;
}

.banner {
  background-color: #1d1936;
  height: 90vh;
  display: block;
}
.banner__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
  margin-right: 10%;
  padding-top: 5rem;
  padding-bottom: 3.125rem;
}
.banner__content--inner {
  margin-top: 3.125rem;
}
.banner__subtitle {
  font-family: "Roboto", sans-serif;
  color: #f5f5f5;
  font-size: 1.5rem;
  font-weight: 400;
}
.banner__btn {
  border: 0.0625rem solid #72e1d1;
}
.banner a {
  color: #72e1d1;
  text-decoration: none;
  text-align: center;
  font-size: 0.875rem;
  padding: 0.8125em 4.5rem;
}

.divider {
  position: relative;
}
.divider__tilt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  vertical-align: top;
}
.divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}
.divider__shape-fill--white {
  fill: white;
}
.divider__shape-fill--grey {
  fill: #f5f5f5;
}

.btn {
  margin-top: 3.125rem;
}

.menu__button {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: 2rem;
  right: 2rem;
  background-color: #121212;
  border: none;
  cursor: pointer;
  z-index: 11;
}
.menu__button--burger {
  fill: white;
}
.menu__button--close-x {
  stroke: white;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5;
  display: none;
}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transform: translateX(-100%);
  transition: transform ease-out 250ms;
}
nav ul {
  background-color: #72e1d1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  list-style: none;
  padding: 0;
}
nav ul a {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  color: #1d1936;
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: calc(100vh / 8) 0;
  line-height: 0;
  width: 100%;
}
nav ul li {
  text-align: center;
  border-bottom: 0.06rem solid #474663;
}
nav ul li:hover {
  background: rgba(71, 70, 99, 0.5);
}

.nav-is-open nav {
  transform: translateX(0);
}
.nav-is-open .menu__button--burger {
  display: none;
}
.nav-is-open .menu__button--close-x {
  display: block;
}

.about-me {
  width: 90%;
  margin: 0 auto;
  max-width: 73.125rem;
}
.about-me__flex {
  display: flex;
  flex-wrap: wrap;
}
.about-me__flex--profile-pic > img {
  display: block;
  width: 100%;
}

.portfolio {
  background-color: #f5f5f5;
}

.projects {
  width: 90%;
  margin: 0 auto;
  max-width: 73.125rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
.projects .featured {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
.projects img {
  width: 100%;
  display: block;
}
.projects__item {
  position: relative;
  overflow: hidden;
}
.projects__item:hover figcaption, .projects__item:focus figcaption {
  top: 0;
  cursor: pointer;
}
.projects__heading {
  padding-left: 5%;
  padding-bottom: 5%;
}
.projects__title {
  margin-bottom: auto;
  font-size: 1.5rem;
}
.featured .projects__title {
  font-size: 2.25rem;
}
.projects__item figcaption {
  position: absolute;
  top: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  color: #f5f5f5;
  background-color: rgba(71, 70, 99, 0.75);
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  transition: top ease-in-out 250ms;
}
.projects__desc {
  font-size: 0.875rem;
  padding-bottom: 2rem;
  display: none;
}
.featured .projects__desc {
  display: block;
}
.projects a {
  font-weight: bold;
  color: #f5f5f5;
  border-bottom: 3px solid #f5f5f5;
  align-self: flex-start;
  font-size: 0.875rem;
}

.contact {
  width: 90%;
  margin: 0 auto;
  max-width: 73.125rem;
  padding: 2.5rem 0;
}
.contact__btn {
  display: inline-block;
  width: auto;
  background-color: #72e1d1;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.75rem 2rem;
  margin-left: auto;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
  display: block;
  color: #2e2e41;
}

input,
textarea {
  display: block;
  background-color: #f5f5f5;
  border: none;
  padding: 0.75rem;
  font-size: 1.2rem;
  width: 100%;
}