@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  background-color: #1d1936;
  position: relative;
}

.banner {
  background-color: #1d1936;
  height: 90vh;
  display: block;
}
.banner__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.625rem;
  margin-right: 1.625rem;
  padding-top: 5rem;
  padding-bottom: 3.125rem;
  width: 70%;
}
.banner__content--inner {
  margin-top: 3.125rem;
}
.banner__title {
  font-family: "Roboto", sans-serif;
  color: #72e1d1;
  font-size: 2.25rem;
}
.banner__title span {
  font-size: 1.5rem;
}
.banner__subtitle {
  font-family: "Roboto", sans-serif;
  color: #f5f5f5;
  font-size: 1.5rem;
  font-weight: 400;
}
.banner__btn {
  border: 0.0625rem solid #72e1d1;
}
.banner a {
  color: #72e1d1;
  text-decoration: none;
  text-align: center;
  font-size: 0.875rem;
  padding: 0.8125em 4.5rem;
}

.divider {
  position: relative;
}
.divider__tilt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}
.divider__shape-fill {
  fill: white;
}

.btn {
  margin-top: 3.125rem;
}

.menu__button {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: 1rem;
  right: 1rem;
  background-color: #121212;
  border: none;
  cursor: pointer;
  z-index: 11;
}
.menu__button--burger {
  fill: white;
}
.menu__button--close-x {
  stroke: white;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5;
  display: none;
}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transform: translateX(-100%);
  transition: transform ease-out 250ms;
}
nav ul {
  background-color: #72e1d1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  list-style: none;
  padding: 0;
}
nav ul a {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  color: #1d1936;
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: calc(100vh / 8) 0;
  line-height: 0;
  width: 100%;
}
nav ul li {
  text-align: center;
  border-bottom: 0.06rem solid #474663;
}
nav ul li:hover {
  background: rgba(71, 70, 99, 0.5);
}

.nav-is-open nav {
  transform: translateX(0);
}
.nav-is-open .menu__button--burger {
  display: none;
}
.nav-is-open .menu__button--close-x {
  display: block;
}